<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <div class="input-group input-group-lg">
        <%= text_field_tag :q, params[:q], class:"form-control", placeholder: "What are you looking for..." %>
        <span class="input-group-btn">
          <%= submit_tag "Search Product", :name => nil, class:"btn btn-default" %>
        </span>
      </div>
    <% end %>

    <!-- <%#= form_for search_path, method: :get do |f| %>
      <div class="input-group input-group-lg">
        <%#= text_field_tag :q, params[:q], class:"form-control",  placeholder: "What are you looking for..." %>
        <span class="input-group-btn">
          <%#= submit_tag "Find Services", name: nil, class:"btn btn-default" %>
          <button class="btn btn-default" type="button">
            Find Services
          </button>
        </span>
      </div>
    <%# end %> -->
  </div>
</div>

