<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <center>
          <%= image_tag get_avatar_url(@vendor), class:"image-circle img-responsive"%>
          <h3><%= @vendor.fullname%></h3>
        </center>
      </div>
      <div class="panel-body">
        <%= @vendor.description %>
      </div>
    </div>
  </div>

  <div class="col-md-8">

  </div>
</div>
