<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @product.title %></h1>
        </div>
        <div class="panel-body">
          <%= image_tag(@product.image.url, class:"img-responsive")%>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>About this Product</h3>
        </div>
        <div class="panel-body">
            <p><%= @product.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
